#tela_info,
#tela{
	background: url(../img/copa.jpg);
	margin-left: 170px;
}

body.grama {
	background: url(../img/grama.jpg);
	background-size: cover;
}

#tela_ranking,
#tela_jogar,
#tela_jogos,
#tela_resultado,
#tela_estadio,
#tela_paises	{
	margin-top: 30px;
	background: rgba(255,255,255,0.25);
	padding: 10px;
	border-radius: 5px;
	/*background: url(../img/grama.jpg);*/
	min-height: 570px;
}

#placar{
	font-weight: bold;
	font-size: 18px;
}

.fundo_tela {
	margin-top: 30px;
	min-height: 570px;
	background-size: cover;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
}

.hero-unit {
	background: none;
}

.btn-home {
	display: inline-block;
	width: 30%;
	margin: 5px 0;
}

ul#fases > li > a {
	color: #000 !important;
}

#titulo_jogo small {
	font-size: 1em;
}
#titulo_jogo h1 {
	/*color: #290;*/
}

#jogadores-container {
	min-height: 250px;
}

.botao-voltar {
	margin-left: 40px;
	margin-bottom: 20px;
}

.negrito{
	font-weight: bold;
	font-size: 22px;
}

#nomes_container{
	min-height: 250px;
}

#tabela_jogos{
	min-height: 400px;
}

#botoes_info{
	min-height: 400px;
	margin-top: 50px;
	margin-right:20px;
}

#botoes_home{
	min-height: 450px;
	margin-top: 50px;
	margin-right:20px;
}

#tabela_ranking
#estadios
#paises{
	min-height:450px;
}

#titulo_info,
#titulo_home{
	margin-right:30px;
	margin-top:70px;
}

#titulo_estadios{
	font-size:20px;
}


.botao-salvar{
	margin-right:40px;
	margin-bottom: 20px;
}

.botao-voltar-estadio{
	margin-left: 40px;
	margin-bottom:0px;
}

.botao-voltar-copa{
	margin-left: 40px;
	margin-top:150px;
}

#img_paises,
#fonte_paises{
	margin-left: 240px;
}